{% extends 'base/base.html' %}

{% block content %}

<table class= "table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Calificacion</td>
            <td>Promedio Calificacion</td>
            <td>Critica</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for calificacion in object_list %}
        <tr>
            <td>{{ calificacion.id }}</td>
            <td>{{ calificacion.nombre_titulo}}</td>
            <td>{{ calificacion.calificacion }}</td>
            <td>{{ calificacion.promedio_calificacion }}</td>
            <td>{{ calificacion.critica }}</td>
            <td>
                <a class="button button-primary" href="{% url 'calificacion_editar' calificacion.id %}">Editar</a>
                <a class="button button-danger" href="{% url 'calificacion_eliminar' calificacion.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registros de calificaciones</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}