{% extends 'base/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h3>¿Desea eliminar el registro de {{ object.nombre_titulo }}?</h3>
    <button class="btm btn-danger" type="submit">Eliminar</button>
    <a class = "btn btn-default" href="{% url 'calificacion_listar' %}">Cancelar</a>
</form>
{% endblock %}