<template lang="html">  
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <div class="col">
                    <h2> Listado de peliculas</h2>  
                    <a type="submit" size="sm" href="/pelicula/new" variant="Primary">
                        Nueva Pelicula
                    </a>
                </div>
                <br>
                <div class="col-md-12">
                    <table class= "table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Sinopsis</th>
                                <th>Director</th>
                                <th>Casting</th>
                                <th>Genero</th>
                                <th>Año</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for = "pelicula in pelicula">
                                <td>{{ pelicula.id }}</td>
                                <td>{{ pelicula.nombre_titulo }}</td>
                                <td>{{ pelicula.sinopsis }}</td>
                                <td>{{ pelicula.director }}</td>
                                <td>{{ pelicula.casting }}</td>
                                <td>{{ pelicula.genero }}</td>
                                <td>{{ pelicula.año }}</td>
                                <td>
                                    <RouterLink class="user_more" :to="{path: `/pelicula/${this.id_pelicula}/edit/`, params: {id_pelicula: this.id_pelicula}}" >
                                        <button class="btn btn-primary" >Editar</button>
                                    </RouterLink>
                                    <RouterLink class="user_more" :to="{path: `/pelicula/${this.id_pelicula}/delete/`, params: {id_pelicula: this.id_pelicula}}" >
                                        <button class="btn btn-primary" >Eliminar</button>
                                    </RouterLink>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import EditPelicula from "@/components/EditPelicula.vue"
import axios from 'axios'
    

export default {
    
    data () {
    
        return{
            fields: [
                { key: 'id_pelicula', label:'Id'},
                { key: 'nombre_titulo', label: 'Titulo' },
                { key: 'sinopsis', label: 'Sinopsis' },
                { key: 'director', label: 'Director' },
                { key: 'casting', label: 'Casting' },
                { key: 'genero', label: 'Genero' },
                { key: 'año', label: 'Año' },
                { key: 'action', label: 'Acción' }
            ],
            pelicula: []
        }
    },
    methods: {

        getPelicula(){
            const path = 'http://127.0.0.1:8000/peliculas/pelicula/'
            axios.get(path).then((response) => {
                this.pelicula = response.data
            })
            .catch((error) => {
                console.log(error)
            })
        }
    },
    created (){
        this.getPelicula()
    }
}

</script>

<style lang="css" scoped>
.titulo-list {
    color: #c97416;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 15px;
}

.table {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    border: 1px solid #c97416;
}

.button {
    color: #ffffff;
    background-color: #c96417;
    border-color: #c96417;
}
.col {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}
.submit{
color: #ffffff;
    background-color: #c96417;
    border-color: #c96417;
}
</style>