{% extends 'base/base.html' %}

{% block content %}

<table class= "table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sinopsis</td>
            <td>Director</td>
            <td>Casting</td>
            <td>Genero</td>
            <td>Año</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if peliculas %}
        {% for pelicula in peliculas %}
        <tr>
            <td>{{ pelicula.id }}</td>
            <td>{{ pelicula.nombre_titulo }}</td>
            <td>{{ pelicula.sinopsis }}</td>
            <td>{{ pelicula.director }}</td>
            <td>{{ pelicula.casting }}</td>
            <td>{{ pelicula.genero }}</td>
            <td>{{ pelicula.año }}</td>
            <td>
                <a class="button button-primary" href="{% url 'pelicula_editar' pelicula.id %}">Editar</a>
                <a class="button button-danger" href="{% url 'pelicula_eliminar' pelicula.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registros de peliculas</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}